@media (max-width: 750px) {
  .section {
    flex-wrap: wrap;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #eee;
    margin-top: 3rem;
    margin-left: 1rem;
  }

  .section1 {
    flex-wrap: wrap;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #eee;
    margin-top: 3rem;
    margin-left: 1rem;
  }
}

@media (min-width: 750px) {
  .section {
    flex-basis: calc(33.33% - 20px);
    flex-wrap: wrap;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #eee;
    margin-top: 3rem;
    margin-left: 1rem;
  }

  .section1 {
    flex-basis: calc(33.33% - 20px);
    flex-wrap: wrap;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #eee;
    margin-left: 1rem;
  }
}


header {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: auto;
  width: 50em;
}

.left1 {
  width: 20em;
  float: left;
}

.titel {
  top: 10rem;
  left: 0;
  color: #187ea4;
  font-size: 5rem;
  font-weight: bold;
  text-align: left;
  margin-top: 2.3em;
}

.leftpic {
  height: auto;
  max-width: 100%;
  margin-left: 2rem;
}

body {
  background-color: rgba(195, 236, 255, 0.57);
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100px;
  width: 100%;
  height: auto;
}

.toppic {
  max-width: 400px;
  width: 100%;
  height: auto;
  top: 0;
  left: 50%;
  transform: translateX(25%);
  margin-top: 1em;
  margin-bottom: 1em;
}

nav {
  top: 0;
  right: 0;
  font-size: 1rem;
  background-color: #a1ddf3;
  padding: 1rem;
  width: 15em;
  position: absolute;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 10px;
}




.section h2, .section1 h2 {
  margin-top: 0;
  color: #886161;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}
